<style>
   .header{
      position: fixed;
      width: 100vw;
      z-index: 1;
      padding:20px 0;
      min-height: 70px;
      
   }
   .solidheader{
      {% if page == 'index' %}
      display: none;
   {% endif %}
      background: var(--primary);
   }
   nav{
      margin:auto;
    width: fit-content;
    width: -moz-fit-content;
   }
   nav ul li{
  list-style-type: none;
  display: inline;
  color:white;
  font-family:var(--philosopher);
  padding: 5px 10px;
  



   }
   nav ul{
      display: inline;
      padding: 0;
   }
   nav img{
      width: 70px;
   }
   .solidheader .leftul{margin-right: 20px;}
   .solidheader .rightul{margin-left: 20px;}
</style>

<div class="header transheader">
   <nav>
      <ul class="leftul">
         <li><a href="/">Home</a></li>
         <li><a href="/about">About</a></li>
         <li><a href="/gallery">Gallery</a></li>
      </ul>
      <ul class="rightul">
         <li><a href="/#services">Services</a></li>
         <li><a href="/faqs">FAQs</a></li>
         <li><a href="/contact">Contact</a></li>
      </ul>
   </nav>

</div>



<div class="header solidheader">
   <nav>
      <ul class="leftul">
         <li><a href="/">Home</a></li>
         <li><a href="/about">About</a></li>
         <li><a href="/gallery">Gallery</a></li>
      </ul>
      <img src="{{ url_for('static', filename='assets/images/logowhite.png') }}" alt="">
     
      <ul class="rightul">
         <li><a href="/#services">Services</a></li>
         <li><a href="/faqs">FAQs</a></li>
         <li><a href="/contact">Contact</a></li>
      </ul>
   </nav>

</div>