<style>
   .header{
      position: fixed;
      width: 100vw;
      z-index: 1;
      padding:20px 0;
      
   }
   nav{
      margin:auto;
    width: fit-content;
    width: -moz-fit-content;
   }
   nav ul li{
  list-style-type: none;
  display: inline;
  color:white;
  font-family:var(--philosopher);
  padding: 5px 10px;
  



   }
   nav ul{
      display: inline;
      padding: 0;
   }
   
</style>

<div class="header">
   <nav>
      <ul class="leftul">
         <li><a href="#">Home</a></li>
         <li><a href="#">About</a></li>
         <li><a href="#">Gallery</a></li>
      </ul>
      <ul class="rightul">
         <li><a href="#">Films</a></li>
         <li><a href="#">FAQs</a></li>
         <li><a href="#">Contact</a></li>
      </ul>
   </nav>

</div>