{% set title = "FAQs" %}
{% extends "layout/app.html" %}
{% block body %}





<style>
  @import url("https://fonts.googleapis.com/css?family=Hind:300,400&display=swap");
  * {
    box-sizing: border-box;
  }
  *::before, *::after {
    box-sizing: border-box;
  }

  
  .accordion-container {
    margin: 0 auto;
    padding: 4rem;
    width: 48rem;
    max-width: 100%;
  }
  
  .accordion .accordion-item {
    border-bottom: 1px solid var(--orange);
  }
  .accordion .accordion-item button[aria-expanded=true] {
    border-bottom: 1px solid var(--orange);
  }
  .accordion button {
    font-family: var(--philosopher);
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #fffc;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
  }
  .accordion button:hover, .accordion button:focus {
    cursor: pointer;
    color: var(--orange);
  }
  .accordion button:hover::after, .accordion button:focus::after {
    cursor: pointer;
    color: #03b5d2;
    border: 1px solid #03b5d2;
  }
  .accordion button .accordion-title {
    padding: 1em 1.5em 1em 0;
  }
  .accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
  }
  .accordion button .icon::before {
    display: block;
    position: absolute;
    content: "";
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
  }
  .accordion button .icon::after {
    display: block;
    position: absolute;
    content: "";
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
  }
  .accordion button[aria-expanded=true] {
    color: var(--orange);
  }
  .accordion button[aria-expanded=true] .icon::after {
    width: 0;
  }
  .accordion button[aria-expanded=true] + .accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
  }
  .accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
  }
  .accordion .accordion-content p {
    font-size: 1rem;
    font-weight: 300;
    margin: 2em 0;
    color: #fff;
    word-spacing: 0.2em;
    font-family: var(--ptext);
  }
</style> 




<div style="width:100%;height: 100px;display:flex;justify-content:center;align-items:center">
  
  <img src="{{ url_for('static', filename='assets/images/logowhite.png') }}" alt="" style="width:70px">
</div>
{{ parallax('FAQs',range(1,18)|random)}}
<div class="accordion-container">
  <div class="accordion">
    {% set faqs = [
      [" Where is The Wedding Story based? Do you travel worldwide?","We are based in Mumbai (India), London (UK) and Boston (USA), and we travel all across the world to shoot weddings. Some of our best weddings have been shot in locations like Istanbul, Puerto Rico, Barcelona, Dubai, Montreux, Seychelles, Marrakech among others."],
      ["Is TVF into wedding planning or just coverage?","Currently we are only into coverage (photos and videos) but having worked with some of the top wedding management teams, we are happy to suggest some names at no extra costs. An inspired management and decor team naturally act as embellishments for a beautiful film! In fact, you can check the Planners section on our website to check out the work of some event planners & wedding décor companies who are splendid at their jobs. "],
      ["Can we also have additional photographers / videographers along with TVF?","Sorry, we absolutely do not recommend it. Apart from being uneconomical, it may obstruct and tamper with our work.  The advantage of a single team is that we will get clean, unobstructed visual frames without local photographers jumping into our frames and ruining the film moments."],
      ["What is a pre-wedding shoot and how do we go about it?","A pre-wedding shoot is a photo/video shoot of the couple done before the wedding that portrays the bond they share with each other. Since the wedding is a hectic time to be together, the couple get this day off with each other to shoot some 'Relaxed, Together & Fun' images and videos and these can be used in the highlight film or as a separate two-minute pre-wedding film that can be shown during the sangeet or the wedding. A typical pre-wedding shoot lasts between 4-8 hours."],
      ["When and where should the audio bytes be ideally recorded?","Anywhere with silence in the background. Any time during the wedding. We cannot do any interviews / audio bytes after the wedding is over. A rare case exception is understood but usually we lock all interviews on the very first day of the wedding as it gets stressful during the later days."],
      ["Who decides the music and film name for the Highlight film?","Music and song selections are collectively done by the wedding director, the client and the edit team. A client co-ordinator is assigned for this under the guidance of the creative visualiser of the project. The film names are usually suggested either by the client or the film director and approved by both. "],
      ["Will our wedding planners’ and other vendors’ names feature in the film?","Oh absolutely. And they will love their names on the big screen just like acknowledgements in a feature film. We have a section at the start of our film called ‘CREDITS MONTAGE’ where these names appear in a specific order. "]
   
      ] %}
    {% for faq in faqs %}
    <div class="accordion-item">
      <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">{{faq[0]}}</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content">
        <p>{{faq[1]}}</p>
      </div>
    </div>
    {%endfor%}



  </div>
</div>


<script>
  const items = document.querySelectorAll(".accordion button");

  function toggleAccordion() {
    const itemToggle = this.getAttribute('aria-expanded');
    
    for (i = 0; i < items.length; i++) {
      items[i].setAttribute('aria-expanded', 'false');
    }
    
    if (itemToggle == 'false') {
      this.setAttribute('aria-expanded', 'true');
    }
  }
  
  items.forEach(item => item.addEventListener('click', toggleAccordion));
</script>

{% endblock %}
