/* Your Style here. */
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

 /* Color Pallete: https://www.schemecolor.com/vital-information.php */
:root{
   --palatinatepurple: #631A51;
   --deeppurple: #992959;
   --orange:#FFB250;
   --green:#85A562;
   --blue:#3D5189;
}