<style>
    
    .contentdiv p{
        font-family: var(--ptext);
        font-size: 1.5em;
        color: #fffc;
        text-align: justify;
        word-spacing: 0.3;
    }
</style>
{{ parallax('Contact_Us',range(1,18)|random)}}
<div class="contentdiv">
    <div class="container-80">
        <p>
            Just drop us the dates, the events included for each day , tentative crowd count , tentative pheras timing , the style of wedding (maharashtrian, gujrati etc. ) location and property name . This helps us in forming the team structure and giving you a reasonable quote accordingly.

We typically drop the quotation mail within 48 hrs of any enquiry.
        </p>
            <center> 
                {{anchor('Give Us a Try',"#")}}
            </center>
    </div>
</div>