<style>
    
    .contentdiv p{
        font-family: var(--ptext);
        font-size: 1.5em;
        color: #fffc;
        text-align: justify;
        word-spacing: 0.3;
    }
</style>
{{ parallax('About',range(1,18)|random)}}
<div class="contentdiv">
    <div class="container-80">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae ce, voluptate aperiam
            accusamus commodi nulla cupiditate rerum quia voluptatum quibusdam adipisci animi ipsa, voluptates tempore
            eligendi quos id sapiente. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium veniam corporis ex doloremque nobis quas vero, repellat voluptas nostrum distinctio id sunt dignissimos consequatur facere iure mollitia debitis neque obcaecati. Unde animi sed commodi expedita aliquid necessitatibus`</p>
            <center> 
                {{anchor('View More...',"#")}}
            </center>
            

    </div>
</div>