<!DOCTYPE html>
<html lang="en">

<head>
    
    
    <title>{{title}} | SemiKolan | Never Stop Building</title>
    
    {% include 'layout/styles.html' %}
    {% include 'layout/metatags.html' %}
    {% include 'layout/gtags.html' %}
    
    <!-- Style.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/images/favicon.ico') }}" />


    

   <!-- jQuery -->
   <script
			  src="https://code.jquery.com/jquery-3.6.0.min.js"
			  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			  crossorigin="anonymous"></script>


</head>

<body>
    {% from 'components/macros.html' import parallax, anchor  %}
    {% include 'partials/header.html' %}
    {% block body %}{% endblock %}
    {% include 'partials/footer.html' %}
    {% include 'layout/scripts.html' %}
    {% include 'partials/loader.html' %}
    <script type="text/javascript" src="{{ url_for('static', filename='assets/js/script.js') }}"></script>
        
</body>

</html>