
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta charset='UTF-8'>
   <meta name='keywords' content='keywords, semikolan, semikolan ecosystem, developer, bhopal'>
   <meta name='description' content='description of the webpage'>
   <meta name='subject' content='Subject'>
   <meta name='copyright' content='Company Name'>
   <meta name='language' content='ES'>
   <meta name='summary' content='Summary'>
   <meta name='Classification' content='Business/Other '>
   <meta name='author' content='SemiKolan , contact@semikolan.co'>
   <meta name='designer' content='SemiKolan'>
   <meta name='reply-to' content='email@hotmail.com'>
   <meta name='owner' content='Owners name'>
   <meta name='category' content='Category'>
   <meta name='subtitle' content='This is my subtitle'>
   <meta name='date' content='Jan. 20, 2021'>